{{ define "main" }}

    <h1 class="list">week notes</h1>
    <ul class="postList">
        {{ range .Paginator.Pages }}
        <li>
            <div class="title-summary">
                <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
                <!--<div class="summary">
                    {{ .Summary }}
                </div>-->
            </div>
            <div class="date">{{ .Date.Format "2 Jan 2006" }}</div>
        </li>
        {{ end }}
    </ul>

    {{partial "pagination.html" .}}

{{ end }}